* {
  box-sizing: border-box;
}

body {
  background-color: #451278;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
